{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow p-4">
        <h2 class="mb-4 text-primary">Doctor Form</h2>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Doctor Name</label>
                {{ form.name }}
            </div>

            <div class="mb-3">
                <label class="form-label">Specialization</label>
                {{ form.specialization }}
            </div>

            <div class="mb-3">
                <label class="form-label">Phone</label>
                {{ form.phone }}
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                {{ form.email }}
            </div>

            <button type="submit" class="btn btn-success">Save Doctor</button>
        </form>
    </div>
</div>
{% endblock %}